<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Constructor Injection -->
	<bean id="cUser" class="di.constinj.User" autowire="byName">
		<constructor-arg value="Buddha"/>
		<constructor-arg value="2100"/>
		<constructor-arg value="Nepal"/>
		<constructor-arg>
			<list>
				<value>Kathmandu</value>
				<value>Pokhara</value>
				<value>Dhangadhi</value>
			</list>
		</constructor-arg>
	</bean>
	
	<!-- setter injection -->
	<bean id="addrs" class="di.setterinj.Address" scope="singleton">
		<property name="city" value="KTM"/>
		<property name="state" value="BAGMATI"/>
		<property name="zip" value="0977"/>
		<property name="country" value="Nepal"/>
	</bean>
	<bean id="emp" class="di.setterinj.Employee">
		<property name="name" value="Buddha(Gautam)"/>
		<property name="age" value="2100" />
		<property name="address" ref="addrs"/>
	</bean>
	
	


</beans>
